<%= form_with(model: transaction_item, local: true) do |form| %>
  <% if transaction_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction_item.errors.count, "error") %> prohibited this transaction_item from being saved:</h2>

      <ul>
      <% transaction_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, @account_categories, :id, :name, {:include_blank => 'Select an Category'}%>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :transaction_item_amount %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :transaction_item_description %>
  </div>

  <div class="field">
    <%= form.label :transaction_header_id %>
    <%= form.text_field :transaction_header_id, id: :transaction_item_transaction_header_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
