<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @transaction_item.category %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction_item.amount %>
</p>

<p>
  <strong>Description:</strong>
  <%= @transaction_item.description %>
</p>

<p>
  <strong>Transaction header:</strong>
  <%= @transaction_item.transaction_header %>
</p>

<%= link_to 'Edit', edit_transaction_item_path(@transaction_item) %> |
<%= link_to 'Back', transaction_items_path %>
