<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @account_user.account.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @account_user.user.email %>
</p>

<p>
  <strong>Privilege:</strong>
  <%= @account_user.privilege %>
</p>

<%= link_to 'Edit', edit_account_user_path(@account_user) %> |
<%= link_to 'Back', account_users_path %>
