<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @group_category.category.name %>
</p>

<p>
  <strong>Group:</strong>
  <%= @group_category.group.name %>
</p>

<%= link_to 'Edit', edit_group_category_path(@group_category) %> |
<%= link_to 'Back', group_categories_path %>
