<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user %>
    <%= form.number_field :user, id: :transaction_user %>
  </div>

  <div class="field">
    <%= form.label :transaction_date %>
    <%= form.date_select :transaction_date, id: :transaction_transaction_date %>
  </div>

  <div class="field">
    <%= form.label :account %>
    <%= form.number_field :account, id: :transaction_account %>
  </div>

  <div class="field">
    <%= form.label :supplier %>
    <%= form.number_field :supplier, id: :transaction_supplier %>
  </div>

  <div class="field">
    <%= form.label :sign %>
    <%= form.text_field :sign, id: :transaction_sign %>
  </div>

  <div class="field">
    <%= form.label :reconciled %>
    <%= form.date_select :reconciled, id: :transaction_reconciled %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total, id: :transaction_total %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
