<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @transaction.user %>
</p>

<p>
  <strong>Transaction date:</strong>
  <%= @transaction.transaction_date %>
</p>

<p>
  <strong>Account:</strong>
  <%= @transaction.account %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @transaction.supplier %>
</p>

<p>
  <strong>Sign:</strong>
  <%= @transaction.sign %>
</p>

<p>
  <strong>Reconciled:</strong>
  <%= @transaction.reconciled %>
</p>

<p>
  <strong>Total:</strong>
  <%= @transaction.total %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
