<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @supplier.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @supplier.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @supplier.location %>
</p>

<p>
  <strong>Account:</strong>
  <%= @supplier.account.name %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
